html {
    background-image: linear-gradient(rgb(15, 112, 119), rgb(67, 111, 114));
}

nav {
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(90deg, #da5000 0%, #d1906a 100%);
    display: inline-block;
    z-index: 2;
}

nav ul {
    height: 100%;
}

nav li {
    width: 130px;
    margin-left: 150px;
    height: 100%;
    font-family: "Lemonada";
    display: inline-block;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 1;
}

nav i {
    float: right;
    margin-right: 150px;
    width: 120px;
    height: 100%;
    color: rgb(255, 255, 255);
    font-family: "Dosis";
    letter-spacing: 0.8px;
    font-size: 16px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: rgb(0, 0, 0);
}

body {
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 30px;
    grid-template-rows: 50px 50px 180px 180px 180px 180px 180px 50px;
    margin: 0;
    padding: 0;
}

.dropbtn {
    width: 120px;
    height: 100%;
    color: rgb(255, 255, 255);
    margin-right: 150px;
    font-family: "Dosis";
    letter-spacing: 0.8px;
    font-size: 16px;
    background-color: transparent;
    border: None;
}

.dropdown {
    float: right;
    position: relative;
    font-family: "Dosis";
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
    color: #000;
}

.welcome-home {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 3;
    margin: auto;
    color: #fff;
    text-align: center;
    font-size: 100px;
    font-family: "Caveat";
    font-weight: 800;
}

.welcome {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    color: #fff;
    text-align: center;
    font-size: 100px;
    font-family: "Caveat";
    font-weight: 800;
    z-index: 1;
}

.photos {
    display: grid;
    font-family: "Caveat";
}

.photo1 {
    display: grid;
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
    box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 1.0);
    font-family: "Caveat";
}

.photo2 {
    display: grid;
    grid-column: 5 / span 1;
    grid-row: 4 / span 1;
    box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 1.0);
    font-family: "Caveat";
}

.photo3 {
    display: grid;
    grid-column: 4 / span 1;
    grid-row: 5 / span 1;
    box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 1.0);
    font-family: "Caveat";
}

.photo4 {
    display: grid;
    grid-column: 6 / span 1;
    grid-row: 5 / span 1;
    box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 1.0);
    font-family: "Caveat";
}

.photo1 i,
.photo2 i,
.photo3 i,
.photo4 i {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    letter-spacing: 1px;
}

.welcome i {
    animation: animate 4s linear;
    animation-iteration-count: infinite;
}

@keyframes animate {
    0% {
        filter: blur(0);
    }
    25% {
        filter: blur(1px);
    }
    50% {
        filter: blur(10px);
    }
    75% {
        filter: blur(0.5px);
    }
    100% {
        filter: blur(0);
    }
}

.login {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
    margin: auto;
    height: auto;
    width: auto;
    background-color: #fff;
    box-shadow: 0px 0px 14px 9px rgba(0, 0, 0, 1.0);
    font-family: "Dosis";
    letter-spacing: 1px;
}

.registration {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 8;
    width: auto;
    height: auto;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 0px 14px 9px rgba(0, 0, 0, 1.0);
    font-family: "Dosis";
    letter-spacing: 1px;
}

.dashboard {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 5;
    width: 400px;
    height: auto;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 0px 14px 9px rgba(0, 0, 0, 1.0);
    font-family: "Dosis";
    letter-spacing: 1px;
}

.dashboard h1 {
    font-family: "Rock Salt", cursive;
    height: 50px;
    text-align: center;
    color: #3b4047;
    font-size: 26px;
    margin: auto;
}

.login header,
.registration header {
    height: 50px;
    text-align: center;
    color: #5b6574;
    font-size: 16px;
    margin: auto;
    border-bottom: 2px solid #cfcfcf;
}

.dashboard .links a {
    color: #adb2ba;
    width: 100px;
    margin-top: 30px;
    margin-left: 67px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

.login .links a,
.registration .links a {
    color: #adb2ba;
    width: 100px;
    margin-top: 30px;
    margin-left: 50px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

.dashboard .links a.active,
.login .links a.active,
.registration .links a.active {
    border-bottom: 3px solid #da5000;
    color: #39393a;
}

.dashboard .links a:hover,
.login .links a:hover,
.registration .links a:hover {
    color: #000000;
}

.profile,
.loginform,
.registrationform {
    width: 100%;
}

.profile label,
.loginform label,
.registrationform label {
    display: flex;
    margin: 30px auto auto auto;
    width: 70px;
    height: 40px;
    background-color: #da5000;
    color: #ffffff;
    padding-left: 40px;
    align-items: center;
    align-content: center;
}

.followform input[type="text"] {
    width: 300px;
    margin: 15px auto 0px auto;
    height: 40px;
    display: flex;
    border: 1px solid #d8d8d8;
    padding: 0 15px;
    align-items: middle;
    align-content: middle;
    text-align: center;
}

.profile input[type="password"],
.profile input[type="text"],
.profile input[type="email"],
.profile input[type="date"],
.loginform input[type="password"],
.loginform input[type="text"],
.registrationform input[type="password"],
.registrationform input[type="text"],
.registrationform input[type="email"] {
    display: flex;
    margin: auto;
    width: 300px;
    height: 50px;
    border: 1px solid #d8d8d8;
    padding: 0 15px;
    align-items: middle;
    align-content: middle;
    text-align: center;
}

.followform input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #da5000;
    font-family: "Dosis";
    font-weight: 800;
    letter-spacing: 1px;
    color: white;
    font-size: 22px;
    transition: background-color 500ms linear, color 500ms;
}

.profile input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 23px;
    background-color: #da5000;
    font-family: "Dosis";
    font-weight: 800;
    letter-spacing: 1px;
    color: white;
    font-size: 22px;
    transition: background-color 500ms linear, color 500ms;
}

.loginform input[type="submit"],
.registrationform input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 23px;
    background-color: #da5000;
    font-family: "Dosis";
    font-weight: 800;
    letter-spacing: 1px;
    color: white;
    font-size: 22px;
    transition: background-color 500ms linear, color 500ms;
}

.followform input[type="submit"]:hover,
.profile input[type="submit"]:hover,
.loginform input[type="submit"]:hover,
.registrationform input[type="submit"]:hover {
    background-color: rgb(235, 235, 235);
    color: black;
}

.msg {
    height: 20px;
    width: 100%;
    font-family: "Arial";
    font-size: 12px;
    margin: 20px auto 0px auto;
    text-align: center;
    color: #000;
}

footer {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 8;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: "Dosis";
    font-weight: 800;
    letter-spacing: 1.5px;
}

.num,
.search {
    margin-top: 25px;
    text-align: center;
    width: 100%;
}

table {
    margin-top: 20px;
    width: 100%;
    border-top: 2px solid #585858;
    overflow: scroll;
}

td,
th {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    body {
        display: grid;
        grid-template-columns: 40px 560px 560px 40px;
        grid-template-rows: 150px 730px 80px 50px;
        margin: 0;
        padding: 0;
    }
    nav {
        height: 40px;
    }
    nav li {
        width: 100px;
        margin-left: 20px;
        height: 100%;
        font-family: "Dosis";
        text-align: center;
        display: inline-block;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 0.75px;
    }
    .dropbtn {
        font-family: "Dosis";
        width: 95px;
        height: 100%;
        color: rgb(255, 255, 255);
        float: right;
        margin-right: 20px;
        font-size: 14px;
    }
    .welcome,
    .welcome-home {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        margin: 50px auto auto auto;
        color: #fff;
        font-size: 35px;
        font-family: "Dosis";
        font-weight: 800;
        letter-spacing: 2px;
    }
    .login {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        margin: 30px auto auto auto;
        height: auto;
        width: 350px;
        background-color: #fff;
        box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.9);
        font-family: "Dosis";
        letter-spacing: 0.75px;
    }
    .registration {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        width: 350px;
        height: auto;
        margin: 30px auto auto auto;
        background-color: #fff;
        box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.9);
        font-family: "Dosis";
        letter-spacing: 0.75px;
    }
    .dashboard {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        width: 400px;
        height: auto;
        margin: 0 auto auto auto;
        background-color: #fff;
        box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.9);
        font-family: "Dosis";
        letter-spacing: 1px;
    }
    .photo1,
    .photo2,
    .photo3,
    .photo4 {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    body {
        display: grid;
        grid-template-columns: 40px 235px 235px 40px;
        grid-template-rows: 150px 730px 50px 50px;
        margin: 0;
        padding: 0;
    }
    nav {
        height: 40px;
    }
    nav li {
        width: 80px;
        margin-left: 5px;
        height: 100%;
        font-family: "Dosis";
        text-align: center;
        display: inline-block;
        font-size: 13px;
        font-weight: 800;
        letter-spacing: 0.75px;
    }
    .dropbtn {
        font-family: "Dosis";
        width: 95px;
        height: 100%;
        color: rgb(255, 255, 255);
        float: right;
        margin-right: 10px;
        font-size: 12px;
        letter-spacing: 0.75px;
    }
    .photo1,
    .photo2,
    .photo3,
    .photo4 {
        display: none;
    }
}