<!DOCTYPE html>
<html>
    <head>
        <title>Followers</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat:700|Chewy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lemonada:500&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Dosis:500,800" rel="stylesheet">
        <script src="https://kit.fontawesome.com/f2e645ebb5.js" crossorigin="anonymous"></script>
    </head>
    <nav id="navigation">
        <ul id="buttons">
            <li><a href="/home/">HOME</a></li>
            <li><a href="/upload/">UPLOAD</a></li>
            <div class="dropdown">
                <button class="dropbtn">{{username}}</button>
                <div class="dropdown-content">
                    <a href="/profile/">Profile</a>
                    <a href="/followers/">Followers</a>
                    <a href="/signout/">Sign Out</a>
                </div>
            </div>
        </ul>
    </nav>
    <body>
        <div class="dashboard">
            <header>
                <h1>Followers</h1>
            </header>
            <div class="links">
                <a href="/followers/">Following</a>
                <a href="/follow/" class="active">Follow</a>
            </div>
            <div class="search"><i>Enter the username you want to follow</i></div>
            <div class="followform">
                <form action="/follow/" method="post">
                <input type="text" name="username" placeholder="Username to follow" id="username" required>
                <div class="msg">{{ msg }}</div>
                <input type="submit" value="Add">
                </form>
            </div>
        </div>
        <footer>
            <span>&copy; Alex Zafiris</span>
        </footer>
    </body>
</html>