<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=0.85">
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis:500,800" rel="stylesheet">
        <script src="https://kit.fontawesome.com/f2e645ebb5.js" crossorigin="anonymous"></script>
    </head>
    <nav id="navigation">
        <ul id="buttons">
            <li><a href="/home/">HOME</a></li>
            <li><a href="/profile/">PROFILE</a></li>
            <li><a href="/signout/">SIGN OUT</a></li>
            <i>{{username}}</i>
        </ul>

    </nav>
    <body>
        <div class="welcome-home">
            <span>W</span>
            <span>E</span>
            <span>L</span>
            <span>C</span>
            <span>O</span>
            <span>M</span>
            <span>E</span>
        </div>
        <footer>
            <span>&copy; Alex Zafiris</span>
        </footer>
    </body>
</html>