<!DOCTYPE html>
<html>
    <head>
        <title>HOME</title>
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Trade+Winds" rel="stylesheet">
        <link href="">
    </head>
    
    <body>
        <nav id="navigation">
            <ul id="buttons">
                <li><a href="/home/">HOME</a></li>
                <li><a href="/profile/">PROFILE</a></li>
                <li><a href="/signout/">SIGN OUT</a></li>
            </ul>
        </nav>
    </body>
</html>