<!DOCTYPE html>
<html>
    <head>
        <title>Sign In</title>
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Trade+Winds" rel="stylesheet">
        <script src="https://kit.fontawesome.com/f2e645ebb5.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <nav id="navigation">
            <ul id="buttons">
                <li><a href="/home/">HOME</a></li>
                <li><a href="/profile/">PROFILE</a></li>
                <li><a href="/signout/">SIGN OUT</a></li>
            </ul>
            <i>Not logged in</i>
        </nav>
        <div class="login">
            <header>
                <h1>SIGN IN</h1>
            </header>
            <div class="links">
                <a href="/" class="active">Sign In</a>
                <a href="/signup/">Sign Up</a>
            </div>
            <div class="loginform">
                <form action="/" method="post">
                <label for="username">
					<i class="fas fa-user fa-2x"></i>
				</label>
                <input type="text" name="username" placeholder="Username" id="username" required>
                <label for="password">
					<i class="fas fa-lock fa-2x"></i>
				</label>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <div class="msg">{{ msg }}</div>
                <input type="submit" value="Sign In">
                </form>
            </div>
        </div>
        <footer>
            <span>&copy; Alex Zafiris</span>
        </footer>
    </body>
</html>