<!DOCTYPE html>
<html>
    <head>
        <title>My Profile</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=0.85">
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat:700|Chewy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lemonada:500&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Dosis:500,800" rel="stylesheet">
        <script src="https://kit.fontawesome.com/f2e645ebb5.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav id="navigation">
            <ul id="buttons">
                <li><a href="/home/">HOME</a></li>
                <div class="dropdown">
                    <button class="dropbtn">{{username}}</button>
                    <div class="dropdown-content">
                        <a href="/profile/">Profile</a>
                        <a href="/followers/">Followers</a>
                        <a href="/signout/">Sign Out</a>
                    </div>
                </div>
            </ul>
        </nav>
        <div class="dashboard">
            <header>
                <h1>My Profile</h1>
            </header>
            <div class="links">
                <a href="/profile/" class="active">My Profile</a>
                <a href="/update/">Edit Profile</a>
            </div>
            <div class="profile">
                <form action="/profile/">
                <label for="email">
					<i class="fas fa-envelope fa-2x"></i>
				</label>
                <input type="email" id="email" name="email" value="{{email}}" readonly>
                <label for="username">
					<i class="fas fa-user fa-2x"></i>
				</label>
                <input type="text" id="username" name="username" value="{{username}}" readonly>
                <label for="password">
					<i class="fas fa-lock fa-2x"></i>
				</label>
                <input type="password" id="password" name="password" value="{{password}}" readonly>
                </form>
            </div>
        </div>
        <footer>
            <span>&copy; Alex Zafiris</span>
        </footer>
    </body>
</html>