<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Trade+Winds" rel="stylesheet">
    </head>
    
    <body>
        <div id="navigation">
            <ul id="buttons">
                <li><a href="/">HOME</a></li>
                <li><a href="/profile/">PROFILE</a></li>
                <li><a href="/logout/">LOG OUT</a></li>
            </ul>
        </div>
        <div class="registration">
            <header>
                <h1>SIGN UP</h1>
            </header>
            <div class="links">
                <a href="/">Sign In</a>
                <a href="/register/" class="active">Sign Up</a>
            </div>
            <div class="registrationform">
                <form action="/register.html" method="post">
                <input type="email" name="email" placeholder="Email" id="email" required>
                <input type="text" name="username" placeholder="Username" id="username" required>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <input type="submit" value="Sign Up">
                </form>
            </div>
        </div>
        <footer>
            <span>&copy; Alex Zafiris</span>
        </footer>
    </body>
</html>