<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=0.9">
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis:500,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat:700|Chewy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lemonada:500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/f2e645ebb5.js" crossorigin="anonymous"></script>
    </head>
    <nav id="navigation">
        <ul id="buttons">
            <li><a href="/home/">HOME</a></li>
            <i>Not signed in</i>
        </ul>

    </nav>
    <body>
        <div class="welcome">
            <span><i>Welcome</i> to CookGram!</span>
        </div>
        </div id="photos">
        <span class="photo1"><img src="../static/cook3.jpg" height="160" width="230"><i>Collect your ingredients</i></span>
        <span class="photo2"><img src="../static/cook1.jpg" height="160" width="230"><i>Take a snap!</i></span>
        <span class="photo3"><img src="../static/cook2.jpg" height="160" width="230"><i>Prepare your meal</i></span>
        <span class="photo4"><img src="../static/ratings.jpg" height="160" width="230"><i>Collect Ratings!</i></span>
        </div>
        <div class="registration">
            <header>
                <h1>SIGN UP</h1>
            </header>
            <div class="links">
                <a href="/">Sign In</a>
                <a href="/signup/" class="active">Sign Up</a>
            </div>
            <div class="registrationform">
                <form action="/signup/" method="post">
                <label for="email">
					<i class="fas fa-envelope fa-2x"></i>
				</label>
                <input type="email" name="email" placeholder="Email" id="email" required>
                <label for="username">
					<i class="fas fa-user fa-2x"></i>
				</label>
                <input type="text" name="username" placeholder="Username" id="username" required>
                <label for="password">
					<i class="fas fa-lock fa-2x"></i>
				</label>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <label for="confirm_password">
					<i class="fas fa-lock fa-2x"></i>
				</label>
                <input type="password" name="confirm_password" placeholder="Confirm Password" id="confirm_password" required>
                <div class="msg">{{ msg }}</div>
                <input type="submit" value="Sign Up">
                </form>
            </div>
        </div>
        <footer>
            <span>&copy; Alex Zafiris</span>
        </footer>
    </body>
</html>