<!DOCTYPE html>
<html>
    <head>
        <title>My Profile Update</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=0.9">
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis:500,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat:700|Chewy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lemonada:500&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
        <script src="https://kit.fontawesome.com/f2e645ebb5.js" crossorigin="anonymous"></script>
    </head>
    <nav id="navigation">
        <ul id="buttons">
            <li><a href="/home/">HOME</a></li>
            <li><a href="/upload/">UPLOAD</a></li>
            <div class="dropdown">
                <button class="dropbtn">{{username}}</button>
                <div class="dropdown-content">
                    <a href="/profile/">Profile</a>
                    <a href="/followers/">Followers</a>
                    <a href="/signout/">Sign Out</a>
                </div>
            </div>
        </ul>
    </nav>
    <body>
        <div class="dashboard">
            <header>
                <h1>My Profile</h1>
            </header>
            <div class="links">
                <a href="/profile/">My Profile</a>
                <a href="/update/" class="active">Edit Profile</a>
            </div>
            <div class="profile">
                <form action="/update/" method="post">
                <label for="address">
					<i class="fas fa-home fa-2x"></i>
				</label>
                <input type="text" name="address" placeholder="Address" id="address" required>
                <label for="birthday">
					<i class="fas fa-birthday-cake fa-2x"></i>
				</label>
                <input type="text" name="birthday" placeholder="dd/mm/yyyy" id="birthday" required>
                <div class="msg">{{ msg }}</div>
                <input type="submit" value="Update">
                </form>
            </div>
        </div>
        <footer>
            <span>&copy; Alex Zafiris</span>
        </footer>
    </body>
</html>