<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=0.95">
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dosis:500,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat:700|Chewy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lemonada:500&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/f2e645ebb5.js" crossorigin="anonymous"></script>
    </head>
    <nav id="navigation">
        <ul id="buttons">
            <li><a href="/home/">HOME</a></li>
            <li><a href="/upload/">UPLOAD</a></li>
            <div class="dropdown">
                <button class="dropbtn">{{username}}</button>
                <div class="dropdown-content">
                    <a href="/profile/">Profile</a>
                    <a href="/followers/">Followers</a>
                    <a href="/signout/">Sign Out</a>
                </div>
            </div>
        </ul>
    </nav>
    <body>
        <div class="upload-form">
            <header>
                <h1>Upload Recipe</h1>
            </header>
            <form action="/upload/" id="upload" method="post">
                <textarea name="recipe" id="recipe" placeholder="Write your recipe here..." required></textarea>
                <label for="files">Select your plate photo:</label>
                <input type="file" id="img" name="img" accept="image/*" required>
                <div class="msg">{{ msg }}</div>
                <input type="submit" value="Upload">
            </form>
        </div>
        <footer>
            <span>&copy; Alex Zafiris</span>
        </footer>
    </body>
</html>